@charset "EUC-KR";
/*******************************************************************************************************
 Table 디자인
*******************************************************************************************************/
.table th {
	font-weight: 600;
}

.datatable-header {
	padding-top: 0.5rem;
}

div.dt-buttons {
	margin-bottom: 0;
} 

.datatable-footer {
    border-top: 1px solid #b7b7b7 !important;
    margin-top: -1px !important;
    margin-right: 1px !important;
}

.dataTables_wrapper .table-bordered {
	border: 0 !important;
}

table .tbody-sm td {
	padding: .65rem 1.25rem;
}

table .tbody-xs td {
	padding: .5rem 1.25rem;
}

#applyTable_wrapper .dataTables_paginate {
	float: none;
	text-align: center;
}